@model IEnumerable<EventsApp.Models.EntityModels.Category>
@Html.Label("Gategories", new { @class = "col-lg-2 control-label" })
<div class="col-lg-10">
    @Html.DropDownList("CategoryId", new SelectList(Model, "Id", "name", new { @class = "form-control" }))
</div>
